body {
  background-image: url("./hero.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  background-size: cover;
  padding: 0;
  color: rgb(250, 250, 250);
}

.header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(130, 3, 3, 0.533);
  padding: 35px;
  margin-bottom: 0;
}
@media screen and (max-width: 580px) {
  .header {
    flex-direction: column;
  }
}
#logo {
  color: white;
}
nav {
  display: flex;
  flex-direction: row;
}

nav a {
  font-size: 24px;
  margin-right: 20px;
  text-decoration: none;
  
}

.hero {
  height: 375px;
  margin-top: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  padding-right: 25px;
  color: rgba(15, 9, 136, 0.941);
}

main section img {
  width: 25vw;  
  border-radius: 5%;
}
#profilePic {
  width: 12vw;
  border-radius: 40%;  
}